language: android

jdk:
- oraclejdk8

android:
  components:
    - tools # important to always do this first, since the version installed of platform-tools below depends on it
    - platform-tools
    - extra-android-m2repository
    - extra-google-m2repository
    - build-tools-27.0.3
    - android-27


env:
    global:
    - TERM=dumb
